* {
  box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  body {
  font-family: Arial;
  background-color: #3498DB;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .login {
  margin: 20px auto;
  width: 500px;
  }
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px
  }
  
  .app-title {
  text-align: center;
  color: #777;
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  .login-field {
  text-align: center !important;
  background-color: #ECF0F1 !important;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 200 !important;
  padding: 10px 0 !important;
  width: 250px !important;
  transition: border .5s !important;
  }
  
  .login-field:focus {
  border: 2px solid #3498DB !important;
  box-shadow: none !important;
  }
  
  #btn-in {
    border: 2px solid transparent !important;
    background: #3498DB !important;
    color: #ffffff !important;
    font-size: 16px !important;
    line-height: 25px !important;
    padding: 10px 0 !important;
    text-decoration: none !important;
    text-shadow: none !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    transition: 0.25s !important;
    display: block !important;
    width: 250px !important;
    margin: 0 auto !important;
  }
  
  #btn-in:hover {
    background-color: #2980B9 !important;
  }
  
  .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
  }       