<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>  

        <div class="user-submenu">
        <p class="title">Configuracion de Usuario y Roles</p>

        <div class="contenerdorsubmenu">
                <div class="custom-div sky" id="addpersona"><img src="{{url_for('static',filename='/img/user/personal.png')}} ">Personal</div>
                <div class="custom-div" id="Ausuario"><img src="{{url_for('static',filename='/img/user/user.png')}} ">Usuario</div>
                <div class="custom-div orange"><img src="{{url_for('static',filename='/img/user/rol.png')}} ">Roles</div>
                <div class="custom-div red">Crear Roles</div>         
        </div>
        </div>

        <div id="contenedoracceso">
               
        </div>



</body>
</html>