<div class="container">
<button class="btn btn-primary mt-2" id="btnAgregarUsuario">Agregar</button>

<table class="table mt-2" id="tabla-usuario">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Usuario</th>
      <th scope="col">Rol</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>  
    
  </tbody>
</table>


<div class="modal fade" id="modalInsertUsuario" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <form id="FormularioUsuario" method="post">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregr Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                      
                
                <div class="row mt-2">
                  <div class="col">
                  <label>DNI</label>
                  </div>
                  <div class="col">
                  <input type="text" name="" class="form-control" id="UDni">
                  </div>
                </div>                

                <div class="row mt-2">
                  <div class="col">
                  <label>Usuario</label>
                  </div>
                  <div class="col">
                  <input type="text" class="form-control"  id="Uusuario" >
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                  <label>Clave</label>
                  </div>
                  <div class="col">
                  <input type="password" class="form-control" id="Ucontra">
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                  <label>Privilegio</label>
                  </div>
                  <div class="col">
                    <select class="form-control" id="USelectRol">
                      <option>Administrador</option>
                    </select>
                  
                  </div>
                </div>                 

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnguardarusuario">Guardar</button>
              
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
               
            </div>
        </div>
    </div>
    </form>
</div>


<div class="modal fade" id="EditarUser" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <form id="FormulEditarUser" method="post">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                      
                
                <div class="row mt-2">
                  <div class="col">
                  <label>DNI</label>
                  </div>
                  <div class="col">
                  <input type="text" name="" class="form-control" id="UEDni">
                  </div>
                </div>                

                <div class="row mt-2">
                  <div class="col">
                  <label>Usuario</label>
                  </div>
                  <div class="col">
                  <input type="text" class="form-control"  id="UEusuario" >
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                  <label>Clave</label>
                  </div>
                  <div class="col">
                  <input type="password" class="form-control" id="UEcontra">
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                  <label>Privilegio</label>
                  </div>
                  <div class="col">
                    <select class="form-control" id="UESelectRol">
                      <option>Administrador</option>
                    </select>
                  
                  </div>
                </div>                 

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="">Guardar</button>
              
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
               
            </div>
        </div>
    </div>
    </form>
</div>

<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">    
      <div class="modal-body">
        
        <div  id="cuerpomessage">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closebtnmessage" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



</div>