<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login HSRA</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/inicio.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/login.ico') }}">
</head>
<body>
    <body>
    	<form action="" method="post" novalidate>
    	{{form.hidden_tag()}}
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Hospital Sub Regional de Andahuaylas</h1>
                </div>

    
                <div class="login-form">
                    <div class="control-group">
                    	
                    	{{form.usuario(class='login-field',placeholder='Usuario')}}
                    	
                    </div>
    
                    <div class="control-group">
                    	
                    	{{form.clave(class="login-field",placeholder='Contraseña')}}
                    	
                    </div>
    				 <div class="control-group">
                    	
                    	{{form.recordar()}}{{form.recordar.label()}}
                    	
                    </div>

                    {{form.btn_iniciar(id="btn-in")}}

                    
                </div>
                
            </div>
        </div>
        </form>
    </body>

</html>     