{%extends "base.html"%}

{%block content%}
<div class="container-fluid">
<!--<a href="#" onclick="abrirModal('insertar','formInsertar')">Insertar</a>-->
<button class="btn btn-primary m-4" onclick="abrirModal('insertar','formInsertar')">Insertar</button>
<label>Buscar</label>
<input type="text" id="idsearch">

<div id="divcontenedor">
<table class="table" border="1" id="tabledata">
    <thead>
    <tr>
        <!--<th>ID</th>-->
        <th>Datos Generales</th>
        <th>Historia Clinica</th>
        <th>Tipo Int</th>
        <th>UPPS</th>
        <th>Complejidad</th>       
        <th>Fecha Ingreso</th>        
        <th colspan="3">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {%for val in registros%}
    <tr>
        <!--<td>{{val[0]}}</td>-->
        <td>{{val[1]}}</td>
        <td>{{val[2]}}</td>
        <td>{{val[3]}}</td>
        <td>{{val[4]}}</td>
        <td>{{val[5]}}</td>               
        <td>{{val[6]}}</td>
        <td><a href="#" onclick="abrirModalAciones('modalEditar','eformulario',{{val[0]}})">Editar</a></td>
        <td><a href="#" data-id="{{val[0]}}" class="verData">Ver</a></td>
        <td><a href="#" data-id="{{val[0]}}" class="btn-eliminar">Eliminar</a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>


<div class="container">
<form id="formInsertar" action="" method="post">    
<div class="modal fade" id="insertar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar a Sala</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      	{{form.hidden_tag()}}
      <div class="modal-body">
      	<p>
        <div class="row">
        <div class="col-4">
        {{form.HC.label()}}
        {{form.HC(id='CampoHC',class="form-control",onkeydown="if (event.key==='Enter') Llenardatos(event)")}}
        </div>
        </div>
        </p>

        <p>
        	<div class="row">
        		<div class="col-3">
        			{{form.datos.label()}}
        		</div>
        		<div class="col-3">
        			{{form.Tipo_Intervecion.label()}}
        		</div>
        		<div class="col-3">
        			{{form.UPPS.label()}}
        		</div>
        		<div class="col-3">
        			{{form.COMPLEJIDAD.label()}}
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-3 ">
        			{{form.datos(id='NombresApellidos',class="form-control")}}
        		</div>
        		<div class="col-3 ">
        			{{form.Tipo_Intervecion(id="tintervencion",class="form-control",onchange="LlenarSelect('tintervencion','UPSS','iupss','SALA','Descripcion')")}}
        		</div>
        		<div class="col-3 ">
        			{{form.UPPS(id="iupss",class="form-control")}}
        		</div>
        		<div class="col-3 ">
        			{{form.COMPLEJIDAD(style="width: 150px; font-size: 14px;",class="form-control")}}
        		</div>
        	</div>        	
        	<div class="row mt-4">
        		<div class="col-3">
        			{{form.DX1.label()}}
        		</div>
        		<div class="col-3">
        			{{form.DX2.label()}}
        		</div>
        		<div class="col-3">
        			{{form.IntervencionQ.label()}}
        		</div>
        		<div class="col-3">
        			{{form.DX1POST.label()}}
        		</div>

        	</div>
        	<div class="row">
        		<div class="col-3 ">
        			{{form.DX1(id='DX1',class="form-control",onclick="LimpiarCampo('DX1')",oninput="BuscarInstrumentista('DX1','Cie10','iddivdx1','SALA')")}}
        			<div id="iddivdx1" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.DX2(id='DX2',class="form-control",onclick="LimpiarCampo('DX2')",oninput="BuscarInstrumentista('DX2','Cie10','iddivdx2','SALA')")}}
        			<div id="iddivdx2" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.IntervencionQ(class="form-control",id="idproce",onclick="LimpiarCampo('idproce')",oninput="BuscarInstrumentista('idproce','Procedimiento','iddivproce','PROCEDIMIENTO')")}}
                    <div id="iddivproce" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.DX1POST(id='DXPOS',class="form-control",onclick="LimpiarCampo('DXPOS')",oninput="BuscarInstrumentista('DXPOS','Cie10','iddivdxpos1','SALA')")}}
        			<div id="iddivdxpos1" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        	</div> 
        	<div class="row mt-4">
        		<div class="col-3">
        			{{form.DX2POST.label()}}

        		</div>
        		<div class="col-3">
        			{{form.ReIntervecion.label()}}
        		</div>
        		<div class="col-3">
        			{{form.Cirujano.label()}}

        		</div>
        		<div class="col-3">
        			{{form.Anestesiologo.label()}}
        		</div>

        	</div>
        	<div class="row">
        		<div class="col-3 ">
        			{{form.DX2POST(id='DXPOS2',class="form-control",onclick="LimpiarCampo('DXPOS2')",oninput="BuscarInstrumentista('DXPOS2','Cie10','iddivdxpos2','SALA')")}}
        			<div id="iddivdxpos2" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.ReIntervecion(class="form-control")}}
        		</div>

        		<div class="col-3 ">
        			{{form.Cirujano(id='cirujano',class="form-control",onclick="LimpiarCampo('cirujano')",oninput="BuscarInstrumentista('cirujano','Empleados','iddivcirujano','GALEN')")}}
        			<div id="iddivcirujano" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.Anestesiologo(id='anestisiologo',class="form-control",onclick="LimpiarCampo('anestisiologo')",oninput="BuscarInstrumentista('anestisiologo','Empleados','iddivanestisiologo','GALEN')")}}
        			<div id="iddivanestisiologo" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        	</div> 
        	<div class="row mt-4">
        		<div class="col-3">
        			{{form.InstrumentalistaI.label()}}
        		</div>
        		<div class="col-3">
        			{{form.InstrumentalistaII.label()}}
        		</div>
        		<div class="col-3">
        			{{form.FechaIngreso.label()}}
        		</div>
        		<div class="col-3">
        			{{form.HoraIngreso.label()}}
        		</div>

        	</div>
        	<div class="row">
        		<div class="col-3 ">
        			{{form.InstrumentalistaI(id='instrumentista',class="form-control",onclick="LimpiarCampo('instrumentista')",oninput="BuscarInstrumentista('instrumentista','Empleados','resultados','GALEN')")}}
        			<div id="resultados" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.InstrumentalistaII(id='instrumentistaII',class="form-control",oninput="BuscarInstrumentista('instrumentistaII','Empleados','iddivinstrumentista2','GALEN')")}}
        			<div id="iddivinstrumentista2" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.FechaIngreso(id="fechai")}}
        		</div>
        		<div class="col-3 ">
        			{{form.HoraIngreso(id="horai")}}
        		</div>
        	</div>

        	<div class="row mt-4">
        		<div class="col-3">
        			{{form.FechaSalida.label()}}
        		</div>
        		<div class="col-3">
        			{{form.HoraSalida.label()}}
        		</div>
        		<div class="col-3">
        			{{form.TiempoUso.label()}}
        		</div>
        		<div class="col-3">
        			{{form.Derivado.label()}}
        		</div>
        		

        	</div>
        	<div class="row">
        		<div class="col-3 ">
        			{{form.FechaSalida(id="fechas")}}
        		</div>
        		<div class="col-3 ">
        			{{form.HoraSalida(id='horasalida',onchange="calculardiferencia('fechai','horai','fechas','horasalida','iduso')")}}
        		</div>
        		<div class="col-3 ">
        			{{form.TiempoUso(id='iduso',class="form-control")}}
        		</div>
        		<div class="col-3 ">
        			{{form.Derivado(id='derivar',class="form-control",oninput="BuscarInstrumentista('derivar','SERVICIO_DERIVAR','iddivderivar','DERIVAR')")}}
        			<div id="iddivderivar" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		
        	</div>
        	<div class="row mt-4">
        		<div class="col-3">
        			{{form.Financiamiento.label()}}
        		</div>
        		<div class="col-3">
        			{{form.Observacion.label()}}
        		</div>
        		<div class="col-3">
        			{{form.Responsable.label()}}
        		</div>
        		<div class="col-3">
        			{{form.Situacion.label()}}
        		</div>
        		

        	</div>
        	<div class="row">
        		<div class="col-3">
        			{{form.Financiamiento(class="form-control")}}
        		</div>
        		<div class="col-3 ">
        			{{form.Observacion(class="form-control")}}
        		</div>
        		<div class="col-3 ">
        			{{form.Responsable(class="form-control",id="idresponsable", oninput="BuscarInstrumentista('idresponsable','Empleados','iddivresponsable','GALEN')")}}
                    <div id="iddivresponsable" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>
        		</div>
        		<div class="col-3 ">
        			{{form.Situacion(class="form-control")}}
        		</div>        		
        	</div>
        </p>
      </div>
      <div class="modal-footer">
        {{form.guardar()}}
      </div>
      
    </div>
  </div>
</div>
</form>
<!-- Modal Editar -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <form id="eformulario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Editar Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal, como un formulario -->
                <form id="formEditar">
                    
                    <div class="form-group">
                        {{form.Tipo_Intervecion.label()}}
                        {{form.Tipo_Intervecion(class="form-control", id="MtipoInter")}}
                    </div>
                    <div class="form-group">
                        {{form.UPPS.label()}}
                        {{form.UPPS(class="form-control",id="MUPSS")}}
                    </div>
                    <div class="form-group">
                        {{form.COMPLEJIDAD.label()}}
                        {{form.COMPLEJIDAD(class="form-control",id="Mcomplejidad")}}
                    </div>
                                       
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnActualizaSala">Guardar cambios</button>
            </div>
        </div>
    </div>
    </form>
</div>
<!--
Modal visualizar

-->
<div class="modal fade" id="modalVisualizar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <form id="verFormulario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Visualizar datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal, como un formulario -->
                <div id="divversala">               
                  
                                       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
               
            </div>
        </div>
    </div>
    </form>
</div>

</div>
</div>
{%endblock%}