{%extends "base.html"%}
{%block title%}
Modulo Urpa
{%endblock%}

{%block content%}
<div class="container-fluid">
<div class="mt-4" id="urpaNo">
	<div id="titulo"><strong>Buscar pacientes para llenar en Urpa</strong></div>
	<label class="mt-2"><strong>Historia Clinica:</strong> </label>
	<input type="text" class="mt-2">
	<table class="table table-primary mt-4">
		<thead class="table-dark">
			<tr>
				<td>Nombres y Apellidos</td>
				<td>Historia Clinica</td>
				<td>Fecha Ingreso</td>
				<td>Acciones</td>
			</tr>
		</thead>
			<tbody>
				{%for val in datos%}
				<tr>
					<td>{{val[1]}}</td>
					<td>{{val[2]}}</td>
					<td>{{val[3]}}</td>
					<td><a href="#" onclick="abrirModalAciones('modalInsertUrpa','FormularioUrpa',{{val[0]}})">Editar</a></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
</div>

<div class="mt-2" id="urpaSi" >
	<div id="titulo"><strong>Lista de pacientes en Urpa</strong></div>
	
	<label class="mt-2"><strong>Historia Clinica:</strong> </label>
	<input type="text" class="mt-2">

	<table class="table table-primary mt-4">
		<thead class="table-dark">
			<tr>
				<td>Nombres y Apellidos</td>
				<td>Historia Clinica</td>
				<td>Fecha Ingreso</td>
				<td>Acciones</td>
			</tr>
		</thead>
			<tbody>
				{%for val in datosurpa%}
				<tr>
					<td>{{val[1]}}</td>
					<td>{{val[2]}}</td>
					<td>{{val[3]}}</td>
					<td></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
</div>

<div class="modal fade" id="modalInsertUrpa" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <form id="FormularioUrpa" method="post">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Insertar Urpa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                      
                
                <div class="row mt-2">
                	<div class="col">
                	<label>Fecha Ingreso </label>
                	</div>
                	<div class="col">
                	<input type="date" name="" class="form-control" id="FechaIurpa">
                	</div>
                </div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Hora Entrada </label>
                	</div>
                	<div class="col">
                	<input type="time" name="" class="form-control" id="HoraIurpa">
                	</div>
                </div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Fecha Salida </label>
                	</div>
                	<div class="col">
                	<input type="date" name="" class="form-control" id="FechaSurpa">
                	</div>
                </div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Hora Salida </label>
                	</div>
                	<div class="col">
                	<input type="time" name="" id="HoraSurpa" class="form-control" onchange="calculardiferencia('FechaIurpa','HoraIurpa','FechaSurpa','HoraSurpa','Permanencia')">
                	</div>
                </div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Permanencia</label>
                	</div>
                	<div class="col">
                	<input type="text" name="" class="form-control" id="Permanencia">
                	</div>
                </div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Derivar A</label>
                	</div>
                	<div class="col">
                	<input type="text" id="idderrivarurpa" class="form-control" oninput="BuscarInstrumentista('idderrivarurpa','SERVICIO_DERIVAR','iddivderivarurpa','DERIVAR')")>
                	</div>
                	
                </div>
                <div id="iddivderivarurpa" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Responsable</label>
                	</div>
                	<div class="col">
                	<input type="text" id="iddivurpainstrumentista" class="form-control" onclick="LimpiarCampo('iddivurparesponsable')" oninput="BuscarInstrumentista('iddivurpainstrumentista','Empleados','iddivurparesponsable','GALEN')")>
                	</div>
                	
                </div>
                <div id="iddivurparesponsable" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;"></div>

                <div class="row mt-2">
                	<div class="col">
                	<label>Anestesia</label>
                	</div>
                	<div class="col">
                	<select class="form-control" id="selectAnestesia">
                		<option value="value1">Anestesia</option>
                	</select>
                	</div>
                </div>

                <div class="row mt-2">

                	<div class="col">
                	<label>Tiempo de Espera </label>
                	</div>
                	<div class="col">
                	<input type="text" class="form-control" id="tiempoespera" name="" >
                	</div>
                </div>

            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-primary" id="btnguardarurpa">Guardar</button>
            	
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
               
            </div>
        </div>
    </div>
    </form>
</div>
</div>
{%endblock%}