{%extends "base.html"%}
{%block content%}
<div class="container-fluid">
<div class="mt-4" id="urpaNo">
	<div><strong>Buscar pacientes para llenar en Urpa</strong></div>
	<label><strong>Historia Clinica:</strong> </label>
	<input type="text" >
	<table class="table table-dark mt-4">
		<thead>
			<tr>
				<td>Nombres y Apellidos</td>
				<td>Historia Clinica</td>
				<td>Fecha Ingreso</td>
				<td>Acciones</td>
			</tr>
		</thead>
			<tbody>
				{%for val in datos%}
				<tr>
					<td>{{val[0]}}</td>
					<td>{{val[1]}}</td>
					<td>{{val[2]}}</td>
					<td></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
</div>

<div class="mt-2" id="urpaSi" style="border: solid 1px;">
	<div><strong>Lista de pacientes en Urpa</strong></div>
	<div></div>
	<label ><strong>Historia Clinica:</strong> </label>
	<input type="text" >

	<table class="table table-dark mt-4">
		<thead>
			<tr>
				<td>Nombres y Apellidos</td>
				<td>Historia Clinica</td>
				<td>Fecha Ingreso</td>
				<td>Acciones</td>
			</tr>
		</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
</div>
</div>
{%endblock%}